.head{
    font-weight: 800;
}
.todos-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 1rem;
  padding: 1rem;
}
.todo-card{
  background-color: var(--secodary-bg);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.todo-card:hover{
  transform: scale(1.02);
}
.shimmer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0;
}

.shimmer-checkbox{
    width: 16px;
    height: 16px;
    background: linear-gradient(90deg,#333 25%,#444 50%,#333 75%);
    background-size: 200% 100%;
    animation: shimmerAnimation 1.5s infinite;
    border-radius: 4px;
} 
.shimmer-text{
    width: 200px;
    height: 16px;
    background: linear-gradient(90deg,#333 25%,#444 50%,#333 75%);
    background-size: 200% 100%;
    animation: shimmerAnimation 1.5s infinite;
    border-radius: 4px;
}

@keyframes shimmerAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}